version: '3.8'

services:
  excalidraw-dev:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: sh -c "yarn install && cd excalidraw-app && yarn vite --host 0.0.0.0 --no-open"

volumes:
  node_modules: